# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de IDE (IntelliJ, Android Studio)
.idea/
*.iml

# Archivos de compilación
/build/
.gradle/
out/

# Archivos de configuración de entorno
local.properties

# Archivos temporales
*.log
*.tmp
*.bak
*.swp

# Archivos de ejecución o caches
*.class
*.jar
*.war
*.apk
*.ap_
*.dex

# Archivos generados por Kotlin
*.kjsm
*.js.map

# Carpetas de test/reports
/test-results/
/test-output/
reports/

# Configuración de OS
ehthumbs.db
Icon?
desktop.ini

# Archivos de seguridad o personales
*.keystore
*.jks

# Node.js (si tu proyecto tiene scripts front-end)
node_modules/

